.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  display: inline-block;
}

.pageLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}
